APP_NAME="cinephoria-ecf"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Europe/Paris
APP_URL=https://cinephoria.local
APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR
HASH_DRIVER=argon2id
SESSION_ENCRYPT=true
# Simple Database Configuration
DB_CONNECTION=pgsql
# DB_HOST=ecf.pgbouncer
DB_HOST=ecf.postgres
DB_PORT=5432
DB_DATABASE=cinephoria
DB_USERNAME=cinephoria
DB_PASSWORD=password123

# MongoDB Development (Read-side CQRS)
MONGODB_HOST=ecf.mongodb
MONGODB_PORT=27017
MONGODB_DATABASE=cinephoria_read
MONGODB_USERNAME=cinephoria
MONGODB_PASSWORD="5Q9£1KrYeA}|?oNx_~Os\!Z^q"

CACHE_STORE=redis
SESSION_DRIVER=redis
SESSION_CONNECTION=session
QUEUE_CONNECTION=redis

# Redis Configuration
REDIS_HOST=ecf.redis
REDIS_PASSWORD=4BKdZj1X2J3B9RBPlqPkOlvnl5DSQt
REDIS_PORT=6379

LOG_CHANNEL=daily

VITE_APP_NAME="${APP_NAME}"
